*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.login-background {
    background-image: url(../../assets/BG.svg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
}

/* ------- Button -------- */
.button:hover {
    background-color: #007aff;
    color: #edfaff;
}

.button:active {
    background-color: #0e315d;
}

.button:disabled {
    background-color: #b5eaff;
    color: #8789a9;
}

.button {
    border: none;
    width: 100%;
    height: 36px;
    background-color: #0d519b;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

/* Left-Side-Bar */
.left-side {
    height: 100vh;
    display: none;
}

.upper-text {
    text-align: center;
    padding-top: 113px;
    position: absolute;
    height: 80%;
}

.left-side img {
    flex-shrink: 0;
    position: relative;
    bottom: -250px;
}

h1 {
    font-size: 32px;
    line-height: 20px;
    letter-spacing: -0.2px;
}

.upper-text h1 {
    color: #0E315D;
    letter-spacing: -0.16px;
}

.upper-text p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.07px;
    margin: 15px 0 0;
    padding: 0 2rem;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    padding-left: 15.5px;
    padding-right: 14.5px;
    background-color: white;
    box-sizing: content-box;
}

.right-side-container {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    gap: 32px
}

@media(width >=830px) {
    .right-side {
        padding-left: 76.5px;
        padding-right: 74.5px;
        max-width: 360px;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;

    }
}

@media(width <1064px) {
    .upper-text h1 {
        line-height: 40px;
    }

    .upper-text p {
        font-size: 14px;
        font-weight: 400;
    }

    .left-side img {
        bottom: -316px;
    }
}

/*----------upper item------- */
.upper-item {
    margin: 0 auto;
    width: 360px;
    text-align: center;
}

#tecnm-logo {
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
}

.upper-item-title {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.7px;
    color: #303040;
    margin: 0;
}

/* ----lower item---- */
a {
    font-size: 12px;
    color: #085dc5;
    text-decoration: none;
}

.lower-item {
    width: 100%;
    text-align: center;
}

.lower-item span {
    font-size: 13px;
    z-index: 1;
    padding: 0 8px;
    background-color: white;
    position: relative;
}

.lines {
    position: relative;
}

.lines::after {
    content: "";
    background-color: #b1b2c8;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 2px;
}

input {
    width: 100%;
    height: 36px;
    border: 1px solid #b5eaff80;
    background-color: #edfaff;
    color: #0e315d;
    border-radius: 6px;
    padding: 8px 12px;
    text-align: center;
    font-size: 15px;
}

input::placeholder {
    color: #0e315d;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}