<div class="editor">
    <div class="sent-screen">
        <button type="button" id="exit-button">X</button>
        <img src="../assets/announcement-sent.svg" id="announcement-sent">
        <h1 class="sent-title">Guardado y enviado con éxito</h1>
        <button id="button" class="button">Crear nuevo</button>
    </div>
    <form>
        <div class="button-container">
            <button type="button" class="upper-button"> Guardar </button>
        </div>
        <section class="content">
            <div class="item-container">
                <img src="../assets/owl.svg" alt="Buho">
                <div class="upper-text-container">
                    <h1>Crear nuevo anuncio</h1>
                    <p>Se llevará a cabo una campaña de comunicación a través de correo electrónico dirigida a todos los
                        usuarios del tipo
                        seleccionado</p>
                </div>
            </div>
            <div class="audience-section">
                <h2>Dirigido a:</h2>
                <select name="audience" id="audience">
                    <option value="">Selecciona uno</option>
                    <option value="1">Profesores</option>
                    <option value="2">Alumnos</option>
                    <option value="3">Administrativos</option>
                </select>
            </div>
            <div class="title-section">
                <h2>Título</h2>
                <input type="text" name="title" id="title" value="Ejemplo: Registro disponible">
            </div>
            <div class="message-section">
                <h2>Mensaje</h2>
                <p>Ejemplo: Estimados profesores, este correo tiene como objetivo solicitarles que suban las materias
                    correspondientes</p>
                <textarea name="message" id="message">Escribe aqui</textarea>
            </div>
        </section>
        <div class="button-container">
            <button type="button">Cancelar</button>
            <button type="submit" id="submit">Enviar</button>
        </div>
    </form>
</div>

<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .button-container {
        height: 76px;
        padding: 20px;
        background-color: #EDFAFF;
        justify-content: center;
        gap: 32px;
    }

    .content {
        height: calc(100% - 152px);
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 32px 48px;
    }

    .item-container {
        display: flex;
        align-items: center;
        gap: 48px;
    }

    .item-container img {
        height: 100px;
        width: 100px;
        padding: 26px;
        background-color: #EDFAFF;
        border-radius: 50%;
    }

    #message,
    #title,
    #audience {
        border-radius: 6px;
        border: 1.5px solid rgba(181, 234, 255, 0.500);
        background-color: #edfaff;
    }

    .sent-screen {
        display: none;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: center;
        gap: 32px;
        height: 100%;
        width: 100%;
        background-color: #FFF;
    }

    #exit-button {
        position: absolute;
        top: 32px;
        left: 48px;
    }

    #announcement-sent {
        width: 48px;
        height: 48px;
    }

    .sent-title {
        font-family: Poppins;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.7px;
        color: #303040;
        margin: 0;
    }

    .button:hover {
        background-color: #007AFF;
        color: #EDFAFF;
    }

    .button:active {
        background-color: #0E315D;
    }

    .button:disabled {
        background-color: #B5EAFF;
        color: #8789A9;
    }

    .button {
        border: none;
        width: 360px;
        height: 36px;
        background-color: #0D519B;
        color: #ffffff;
        padding: 8px 16px;
        border-radius: 6px;
        cursor: pointer;
    }
</style>

<script>
    const button = document.getElementById('submit');
    const sentScreen = document.getElementsByClassName('sent-screen')[0]; // Accede al primer elemento

    button.addEventListener('click', (event) => {
        event.preventDefault(); // Evita el comportamiento por defecto del formulario
        sentScreen.style.display = 'flex'; // Usa comillas para el valor 'flex'
    });
</script>