<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>button.html</title>

</head>

<body>
    <div class="container-button">
        <input type="button" value="Solicitar" id="button">
    </div>
    <style>
        input[type="button"] {
            border: 0;
            width: 360px;
            height: 36px;
            background-color: #0D519B;
            color: #ffffff;
            padding: 8px 16px;
            border-radius: 6px;
        }
    </style>
</body>

</html>