<div class="delete-modal">
    <img src="../assets/trash.svg" alt="Bote de basura">
    <h1 class="modal-text">Confirma que deseas eliminar este elemento</h1>
    <div class="button-container">
        <button type="button" class="button">Cancelar</button>
        <button type="button" class="button" id="delete-button">Eliminar</button>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@200&display=swap');

    .delete-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 4px;
        gap: 32px;
        padding: 48px 32px;
        width: 90%;
        max-width: 500px;
        background-color: #ffffff;
    }

    .delete-modal img {
        height: 64px;
        width: 64px;
    }

    .modal-text {
        font-family: Poppins, sans-serif;
        margin: 0 -25px;
        line-height: 32px;
        letter-spacing: -2.5%;
        font-weight: 700;
        color: #303040;
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 16px;
        width: 100%;
        font-family: Roboto, sans-serif;
        font-weight: 400;
    }

    .button {
        border-radius: 6px;
        padding: 8px 16px;
        cursor: pointer;
        border: none;
        height: 36px;
        width: 100%;
        max-width: 210px;
        color: #ffffff;
        background-color: #5E6C76;
    }

    #delete-button {
        background-color: #F3404A;
    }
</style>