<input type="email" id="email" class="input" placeholder="Ingresa tu correo electronico">
<input type="password" id="password" class="input" placeholder="Contraseña">
<style>
 
  .input {
    border-radius: 6px;
    border: 1.5px solid rgba(181, 234, 255, 0.50);
    background: #EDFAFF; 
    padding: 8px 16px; 
    width: 360px; 
    height: 36px;
    font-size: 15px;
    color: #0E315D; 
    margin-bottom: 8px;
    text-align:center;
    line-height: 20px;
    letter-spacing: -0.075px;

  }

 
  #password {
    margin-bottom: 16px; 
  }

  
  .input::placeholder {
    color: #999; 
    font-family: 'Roboto', sans-serif; 
    font-size: 15px; 
    font-style: normal;
    
    letter-spacing: -0.075px;
  }
</style>