<div class="owl-cards">
    <img src="../../assets/noto-owl.svg" alt="Student Owl">
    <h1>9999</h1>
    <p>ESTUDIANTES</p>
</div>
<div class="owl-cards">
    <img src="../../assets/professor-owl.svg" alt="Professor Owl">
    <h1>9999</h1>
    <p>PROFESORES</p>
</div>
<div class="owl-cards">
    <img src="../../assets/administrative-owl.svg" alt="Administrative Owl">
    <h1>9999</h1>
    <p>ADMINISTRATIVOS</p>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@200&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .owl-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        max-width: 348px;
        height: 148px;
        border-radius: 4px;
        background-color: #E4E8E9;
        box-shadow: 0px 1px 6px 0px #A7B2B9;

        h1 {
            margin-top: 10px;
            font-family: Poppins, sans-serif;
        }

        p {
            font-family: Roboto, sans-serif;
        }
    }
</style>