<div class="owl-cards">
    <img src="../../assets/noto-owl.svg" alt="Student Owl">
    <h1>99999</h1>
    <p>ESTUDIANTES</p>
</div>
<div class="owl-cards">
    <img src="../../assets/professor-owl.svg" alt="Professor Owl">
    <h1>99999</h1>
    <p>PROFESORES</p>
</div>
<div class="owl-cards">
    <img src="../../assets/administrative-owl.svg" alt="Administrative Owl">
    <h1>99999</h1>
    <p>ADMINISTRATIVOS</p>
</div>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .owl-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        max-width: 348px;
        width: 100%;
        height: 148px;
        border-radius: 4px;
        background-color: #E4E8E9;
        box-shadow: 0px 1px 6px 0px #A7B2B9;
    }
</style>