<div class="sidebar">
  <p>Con</p>
</div>


<style>
  .sidebar {
    height: 100%; 
    width: 320px; 
    position: fixed; 
    top: 0;
    right: 0;
    background-color: #FFF ;
    box-shadow: 0px 6px 14px 10px rgba(14, 49, 93, 0.15);
    overflow-x: hidden;
    padding-top: 20px; 
    padding: 414px 74.5px 561px 76.5px;
    
  }

  @media (max-width: 768px) {
    .sidebar {
      width: 100%; 
      padding: 10px; 
      right: -100%; 
    }

    .sidebar.active {
      right: 0;
    }
  }
</style>