<div class="tool-cards large-card">
    <img src="../../assets/create-tool.svg" alt="Create notice">
    <div class="text-container">
        <p class="first">CREAR AVISO</p>
        <p>ESTUDIANTES</p>
    </div>
</div>
<div class="tool-cards">
    <img src="../../assets/report-tool.svg" alt="Report">
    <div class="text-container">
        <p class="first">REPORTE</p>
        <p>DESCARGAR</p>
    </div>
</div>
<div class="tool-cards">
    <img src="../../assets/add-tool.svg" alt="Add">
    <div class="text-container">
        <p class="first">AÑADIR</p>
        <p>USUARIO</p>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@200&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .tool-cards {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 24px 12px;
        width: 280px;
        height: 150px;
        border-radius: 8px;
        border: 1px solid #E4E8E9;
        box-shadow: 0px 1px 6px 0px #A7B2B9;
    }

    .large-card {
        width: 557px;
        justify-content: center;
    }

    .tool-cards img {
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }

    .text-container {
        flex-direction: column;
        gap: 8px;
    }

    .tool-cards p.first {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 600;
    }

    .tool-cards p {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
</style>