<div class="upper-item">
    <img src="../assets/tecnm-logo.svg" id="tecnm-logo">
    <h1 class="upper-item-title">Solicita reposición de contraseña</h1>
</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

    .upper-item {
        margin: 0 auto;
        width: 360px;
        text-align: center;
    }

    #tecnm-logo {
        width: 64px;
        height: 64px;
        margin-bottom: 32px;
    }

    .upper-item-title {
        font-family: Poppins;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.7px;
        color: #303040;
        margin: 0;
    }
</style>